TALENTOS_API_TIMEOUT=30
PORT=8000

TALENTOS_API_BASE_URL=
#If you are running locally on host system
# TALENTOS_API_BASE_URL= http://127.0.0.1:8001/ 

#If you are running the mcp server in a docker container, and talentOS backend server is running locally on host system
# TALENTOS_API_BASE_URL= http://host.docker.internal:8001/

#If you are running both mcp-server & talentOS backend server in a docker container on a same docker network
# TALENTOS_API_BASE_URL=http://<talentos-backend-container-name>:8001/